[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
"flake8" = "*"
pydocstyle = "*"
pylint = "*"
coverage = "*"
sphinx = "*"
"doc8" = "*"

