[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
"flake8" = "*"
pydocstyle = "*"
pylint = "*"
coverage = "*"
sphinx = "*"
"doc8" = "*"
codecov = "*"
cosmic-ray-pytest-runner = {version = "*", python_version = ">= '3.0'"}
cosmic-ray = {version = "*", python_version = ">= '3.0'"}
